---
import type {
  Experience as ExperienceType,
  Query as QueryType,
} from '@/types/resume'
import Layout from '@/layouts/Layout.astro'
import Header from '@/components/Header.astro'
import Experience from '@/components/Experience.astro'
import Education from '@/components/Education.astro'
import Snippet from '@/components/Snippet.astro'
import Query from '@/components/Query.astro'
import data from '@/data/resume'

const {
  name,
  contact,
  links,
  header,
  experience,
  education,
  snippets,
  questions,
  interests,
  languages,
} = data

const [latestRole] = experience
const [featuredQuestion] = questions.filter((item) => item.featured === true)
---

<Layout title={`${name.first} ${name.last} - Résumé`}>
  <main class="flex flex-col gap-8 not-print:pb-8">
    <Header
      data={{
        name,
        header,
        contact,
        links,
        latestRole: latestRole as ExperienceType,
        featured: featuredQuestion as QueryType,
      }}
    />

    <section class="flex flex-col gap-6 px-10">
      <header>
        <h3 class="text-xl font-semibold">Work experience</h3>
      </header>

      {
        experience.map((item) => (
          <article>
            <Experience data={item} />
          </article>
        ))
      }
    </section>

    <section class="flex flex-col gap-6 px-10">
      <header>
        <h3 class="text-xl font-semibold">Education</h3>
      </header>

      {
        education.map((item) => (
          <article>
            <Education data={item} />
          </article>
        ))
      }
    </section>

    <section class="flex flex-col gap-6 px-10">
      <header>
        <h3 class="text-xl font-semibold">Snippets</h3>
      </header>

      {
        snippets.map((item) => (
          <article class="text-sm">
            <Snippet data={item} />
          </article>
        ))
      }
    </section>

    <section class="flex flex-col gap-6 px-10">
      <header>
        <h3 class="text-xl font-semibold">More about me</h3>
      </header>

      <div class="grid grid-cols-2 gap-x-5 gap-y-6">
        {
          questions.map(({ question, answer }) => (
            <article class="text-sm">
              <Query title={`${question}&hellip;`} content={answer} />
            </article>
          ))
        }

        <article class="text-sm">
          <Query title="Interests" content={interests} />
        </article>

        <article class="text-sm">
          <Query title="Languages spoken" content={languages.join(', ')} />
        </article>
      </div>
    </section>
  </main>
</Layout>
