---
import type { Experience } from '@/types/resume'
import Link from '@/components/Link.astro'
import { formatDate } from '@/utils/date'

interface Props {
  data: Experience
}

const { data } = Astro.props
const { active, role, company, date, location, description, technologies } =
  data
const isActive: boolean = active === true
---

<div class="flex items-center text-sm">
  <div class="flex grow gap-1 font-semibold">
    <span>{role},</span>

    <Link url={company.url} newTab={true}>
      <span>{company.name}</span>
    </Link>

    <icon class="fa-regular fa-building ml-1 self-center"></icon>
  </div>

  <div class="shrink-0 text-xs font-normal">
    {formatDate(date.start)} - {isActive ? 'Present' : formatDate(date.end)}
  </div>
</div>

<div class="text-xs">{location}</div>

<div class="mt-2 text-xs">
  <div>{company.description}</div>

  <ul class="flex gap-1">
    {
      company.industries.map((item, index) => (
        <li set:html={Number(index) !== 0 ? `&bull; ${item}` : item} />
      ))
    }
  </ul>
</div>

<ul class="mt-3 flex gap-1 text-xs">
  {
    technologies.map((item) => (
      <li class="experience-highlight rounded-full px-3 leading-loose">
        {item}
      </li>
    ))
  }
</ul>

<ul class="mt-3 list-inside list-disc text-sm leading-tight">
  {description.map((item) => <li class="mt-2">{item}.</li>)}
</ul>

<style>
  .experience-highlight {
    background-color: var(--experience-highlight-bg-color);
  }
</style>
