---
import type {
  Name,
  Contact,
  Link as LinkEntry,
  Header,
  Query,
  Experience,
} from '@/types/resume'
import Link from '@/components/Link.astro'

interface Props {
  data: {
    name: Name
    contact: Contact
    links: LinkEntry[]
    header: Header
    latestRole: Experience
    featured: Query
  }
}

const { data } = Astro.props
const { name, contact, links, header, latestRole, featured } = data
const isActive: boolean = latestRole?.active === true
---

<header class="bg-primary px-5 pt-5 pb-7">
  <h1 class="text-xl font-bold">
    {`${name.first} ${name.last}`}
  </h1>

  <h2 class="leading-tight">
    {header.role}
  </h2>

  <ul class="mt-3 flex gap-4 text-sm font-semibold">
    <li class="*:flex *:items-center *:gap-2">
      <Link scheme="mailto" url={contact.email} newTab={true} icon="email">
        <span>{contact.email}</span>
      </Link>
    </li>

    <li class="*:flex *:items-center *:gap-2">
      <Link scheme="tel" url={contact.tel} newTab={true} icon="phone">
        <span>{contact.tel}</span>
      </Link>
    </li>

    {
      links.map(({ type, title, url }) => (
        <li class="*:flex *:items-center *:gap-2">
          <Link url={url} newTab={true} icon={type}>
            <span>{title}</span>
          </Link>
        </li>
      ))
    }
  </ul>

  <div class="mt-4 grid grid-cols-2 gap-x-5 text-xs leading-normal">
    <div class="rounded-2xl bg-white px-5 py-4">
      <div class="grid grid-cols-[auto_1fr] gap-x-3">
        {
          [
            [
              `${isActive ? 'Current' : 'Previous'} role`,
              latestRole
                ? `${latestRole.role} at ${latestRole.company.name}`
                : '',
            ],
            ['Experience', header.experience.join(', ')],
            ['Technologies', header.technologies.join(', ')],
          ].map(([title, details]) => (
            <>
              <div class="border-highlight border-r-2 py-1 pr-3 font-semibold">
                {title}
              </div>

              <div class="py-1">{details}</div>
            </>
          ))
        }
      </div>
    </div>

    <div class="rounded-2xl bg-white px-5 py-4">
      <div class="py-1 font-semibold">
        {featured?.question}&hellip;
      </div>

      <div class="pt-1">
        {featured?.answer}
      </div>
    </div>
  </div>
</header>

<style>
  header {
    /* Make icon size smaller to match the other icons */
    .fa-phone {
      font-size: var(--text-xs);
    }
  }
</style>
