---
import type { HTMLAttributes } from 'astro/types'
import icons from '@/data/icons'

interface Props {
  class?: string
  scheme?: string
  url: string
  newTab?: boolean
  icon?: string
}

type AnchorTargetAttribute = HTMLAttributes<'a'>['target']

const { class: className, scheme = '', url, newTab, icon } = Astro.props
const href: string = scheme.length > 0 ? `${scheme}:${url}` : url
const target: AnchorTargetAttribute = newTab === true ? '_blank' : '_self'
const iconClassName: string = Object.hasOwn(icons, icon as string)
  ? (icons[icon as string] as string)
  : ''
---

<a class={className} href={href} target={target}>
  {icon && <icon class={iconClassName} />}

  <slot />
</a>

<style lang="sass"></style>
